

#gridContainer {
    margin: auto;
    display: grid;
    height: 800px;
    width: 800px;
}

#gridContainer > div {
    display: inline;
    border: 1px solid rgb(65, 84, 158);
    border-radius: 10%;
}

#reset {
    display: block;
    margin: 10px auto;
}