

#gridContainer {
    margin: auto;
    display: grid;
    height: 800px;
    width: 800px;
}

#gridContainer > div {
    display: inline;
    border: 1px solid black;
}

#reset {
    display: block;
    margin: 10px auto;
}